<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">Sign In</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="signIn()">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" [(ngModel)]="email" required class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </form>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
          <div class="text-center mt-3">
            <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
